<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Video Game Search</h1>

        <form method="GET" action="/search" >

              <p>
                Search Name:
                <input name="search" type="text" th:field="*{search}" />
              </p>
              <br />
              <p>
                Number of results:
                <select name="page_size" th:field="*{page_size}">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                    <option value="20">20</option>
                    
                </select>
              </p>
              <br />

            <button type="submit">Search</button>

        </form>
    
</body>
</html>